@import 'variables.scss';

.header {
    height: 7 * $unit;
    background-color: $color-grey;
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    display: flex;

    &__item {
        border-radius: $border-radius;
        color: $text-color-secondary;
        padding: $unit;
        margin-left: $unit;
        font-weight: 700px;
        cursor: pointer;
        background-color: $color-primary;

        &_selected {
            background-color: $color-secondary;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}