div {
    font-size: 24px;
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    margin: 100px;
    padding: 20px;
    border-top: 10px;
    border-right: 20px;
    border-bottom: 10px;
    border-left: 20px;
    border-top-color: firebrick;
    border-right-color: chartreuse;
    border-bottom-color: burlywood;
    border-left-color: aqua;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: dashed;
    background-color: bisque;
}



