section {
    margin: 32px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
    word-spacing: 20px;
    text-transform: uppercase;
}

p {
    line-height: 28px;
}

.technology {
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 80%;
    text-decoration: dashed;
}

a {
    text-decoration: none;
}

.translate {
    color: grey;
    text-decoration: dashed;
}