* {
    box-sizing: border-box;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 100px;
    width: 250px;
    background-color: coral;
    border-radius: 10px;
    line-height: 100px;
    position: relative;
    animation-name: block-move;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.align-block {
    display: flex;
    justify-content: center;
}

@keyframes block-move {
    0% {
        top: -100px;
    }

    100% {
        top: calc(50vh - 50px);
    }
}