.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex: 1;
}

.product-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex: 1;
}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex: 1;
}

span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) and (max-width: 899px){
    .container {
      display: flex;
      flex: 2;
    }
}

@media (min-width: 900px) {
    .main {
        flex-direction: row;
    }

    .container {
        display: flex;
        flex: 2;
    }
}