
div {
    margin: 50px;
}

.rectangle {
    border-radius: 16px;
    height: 50px;
    width: 100px;
    background-color: forestgreen;
}

.oval {
    height: 50px;
    width: 100px;
    border-radius: 50%;
    background-color: darkmagenta;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}

.treetangle {
    height: 100px;
    width: 100px;
    border: 50px solid;
    border-color: brown transparent transparent transparent;
    box-sizing: border-box;

}